    <main class="container">
        <div class="row">
            <div class="col">
                {{> "../components/banner.hbs"}}

                <section class="top-sales">
                    <h2 class="text-center">Страница не найдена</h2>
                    <p>
                        Извините, такая страница не найдена!
                    </p>
                </section>
            </div>
        </div>
    </main>
