<main class="container">
    <div class="row">
        <div class="col">
            {{> "../components/banner.hbs"}}
            <section class="cart">
                <h2 class="text-center">Корзина</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Название</th>
                            <th scope="col">Размер</th>
                            <th scope="col">Кол-во</th>
                            <th scope="col">Стоимость</th>
                            <th scope="col">Итого</th>
                            <th scope="col">Действия</th>
                        </tr>
                    </thead>
                    
                    <tbody data-cart>
                    </tbody>
                </table>
                        <div data-total>
                        </div>

            </section>
        </div>
    </div>
</main>
