<main class="container">
    <div class="row">
        <div class="col">
            {{> "../components/banner.hbs"}}
            {{> "../components/top-sales.hbs"}}
            <section class="catalog">
                <h2 class="text-center">Каталог</h2>
                {{> "../components/catalog-section.hbs"}}
            </section>
        </div>
    </div>
</main>
