<ul class="nav flex-column navigation">
    <li class="nav-item"><a data-nav href="/about" class="nav-link">О магазине</a></li>
    <li class="nav-item"><a data-nav href="/catalog" class="nav-link">Каталог</a></li>
    <li class="nav-item"><a data-nav href="/contacts" class="nav-link">Контакты</a></li>
</ul>
