<ul class="catalog-categories nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" href="#">Все</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Женская обувь</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Мужская обувь</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Обувь унисекс</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Детская обувь</a>
    </li>
</ul>
