<ul class="catalog-categories nav justify-content-center" data-categories>
    <li class="nav-item">
        <span class="nav-link cursor active first" data-catId=0>Все</span>
    </li>
    {{#each items}}
    <li class="nav-item">
        <span class="nav-link cursor" data-catId={{id}}>{{title}}</span>
    </li>
    {{/each}}
</ul>
