<ul class="navbar-nav mr-auto navigation">
    <li class="nav-item">
        <a class="nav-link" href="/" data-nav>Главная</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/catalog" data-nav>Каталог</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about" data-nav>О магазине</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/contacts" data-nav>Контакты</a>
    </li>
</ul>