
$desktop1230: 1230px;
$desktop: 1170px;
$laptop: 992px;
$tablets600: 600px;
$tablets: 768px;
$phones:480px;
$phones320: 320px;

$ml: 1400px;
$xl: 1278px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 575px;